<!DOCTYPE html>

<html lang="fa" dir="rtl">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>پورتفولیو من</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<nav>

    <a href="/"> خانه</a>
    <a href="/contacts">راه های ارتباطی</a>
    <a href="/resume" target="_blank">رزومه من</a>

</nav>

<section class="hero">
    <h1>سلام من امیرمحمد چمنی هستم</h1>

    <h2>برنامه‌نویس و توسعه‌دهنده نرم‌افزار</h2>

    <p>
        من در زمینه برنامه‌نویسی، توسعه وب و ساخت نرم‌افزار فعالیت می‌کنم.
        علاقه‌مند به یادگیری تکنولوژی‌های جدید و ساخت پروژه‌های کاربردی هستم.
    </p>
</section>

<section>

    <h1>درباره من</h1>

    <p>
        من یک توسعه ‌دهنده هستم که با زبان ‌هایی مثل python و #C
        کار کرده ‌ام و به ساخت برنامه‌های کاربردی و وب‌سایت ‌ها علاقه دارم.
    </p>

</section>



<section>

    <h1>مهارت ها</h1>

    <div class="card">

        <u1>
            <li>Python</li>
            <li>C#</li>
            <li>SQL</li>
            <li>توسعه وب</li>
            <li>طراحی نرم افزار</li>
            <li>Microsoft SQL</li>
            <li>کار با نرم افزار اتوماسیون اداری پرگار</li>

        </u1>

    </div>

</section>


<section>
    <h1>پروژه های من</h1>

    <div class="card">

        <h2>MediaServer</h2>

        <p>
            یک برنامه برای پخش فیلم های داخل یک سیستم به تمام سیستم های های داخل شبکه
        </p>


    </div>

    <div class="card">

        <h2>مترویاب</h2>

        <p>
            یک سیستم جستجوی مسیر مترو با استفاده از پایتون.
        </p>
    </div>
</section>



<footer>
    امیرمحمد چمنی - درست شده در سال 1405
</footer>

</body>

</html>